[submodule "mod-transmog"]
	path = mod-transmog
	url = https://github.com/azerothcore/mod-transmog
[submodule "mod-eluna"]
	path = mod-eluna
	url = https://github.com/war-log/mod-eluna
[submodule "mod-autobalance"]
	path = mod-autobalance
	url = https://github.com/azerothcore/mod-autobalance
[submodule "mod-arac"]
	path = mod-arac
	url = https://github.com/azerothcore/mod-arac
[submodule "mod-solo-lfg"]
	path = mod-solo-lfg
	url = https://github.com/azerothcore/mod-solo-lfg
[submodule "eluna-ts"]
	path = eluna-ts
	url = https://github.com/azerothcore/eluna-ts
[submodule "mod-cfbg"]
	path = mod-cfbg
	url = https://github.com/azerothcore/mod-cfbg
[submodule "mod-learn-spells"]
	path = mod-learn-spells
	url = https://github.com/azerothcore/mod-learn-spells
[submodule "mod-random-enchants"]
	path = mod-random-enchants
	url = https://github.com/azerothcore/mod-random-enchants
[submodule "mod-duel-reset"]
	path = mod-duel-reset
	url = https://github.com/azerothcore/mod-duel-reset
[submodule "mod-npc-spectator"]
	path = mod-npc-spectator
	url = https://github.com/Gozzim/mod-npc-spectator
